@charset "UTF-8";

/*
Colocando a imagem do rádio e tv como fundo da div 
para alocar os elementos dentro.
*/

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url(../src/assets/img/radio-tv.png) no-repeat;
}


/*

Configurando e posicionando os elementos vídeo e aúdio.

*/

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 495px;
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    left: 85px;
    top: 85px;
    width: 440px;
}